<%if notice%>
  <p class="alert alert-warning alert-dismissible fade show" role="alert" id="notice"><%= notice %></p>
<%end%>
<h1>List of all gossips</h1>
<br/>
<%= link_to 'Create a new Gossip', new_gossip_path, class: "btn btn-sm btn-primary col-2 shadow" %>
<br/>
<table class="table table-striped table-hover table-sm table-responsive">
  <thead>
    <tr>
      <th><i class="bi bi-list-ol"></i></th>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th><i class="bi bi-bookmarks-fill"></i></th>
      <th><i class="bi bi-chat-left-text"></i></th>
      <th><i class="bi bi-hand-thumbs-up"></i></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @gossips.each do |gossip| %>
      <tr>
        <td><%=gossip.id%></td>
        <td><%=gossip.title%></td>
        <td><%=gossip.content%></td>
        <td><%=gossip.user.first_name+" "+gossip.user.last_name%></td>
        <td><%=gossip.tags.count%></td>
        <td><%=gossip.comments.count%></td>
        <td><%=gossip.likes.count%></td>
        <td><%= link_to 'Details', gossip_path(gossip.id), method: :get, class: "btn btn-sm btn-info shadow" %></td>
        <td><%= link_to 'Edit', edit_gossip_path(gossip.id), class: "btn btn-sm btn-warning shadow" %></td>
        <td><%= link_to 'Delete', gossip_path(gossip.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger shadow" %></td>
      </tr>
    <% end %>
  </tbody>
</table>